ID_BARRIO = 426

# Post name where de device is connected
GUARD_POST_NAME=Your post name

# Port where events are listened to
PORT=3888

# Every few minutes it synchronizes news, in milliseconds 60000 --> 1 minute
# Set to 0 to disable synchronization
TIME_SYNC=60000

# How many devices are connected
DEVICES_CONNECTED=1

# Devices configuration.

# Face ID 1 configuration
FACEID_1_TYPE=ENTRY or EXIT
FACEID_1_DEVICENAME=your device name
FACEID_1_USER=your user divice
FACEID_1_PASS=your password device
FACEID_1_IP=your ip device

# Face ID 2 configuration
# FACEID_2_TYPE=
# FACEID_2_DEVICENAME=
# FACEID_2_USER=
# FACEID_2_PASS=
# FACEID_2_IP=

# Face ID 3 configuration
# FACEID_3_TYPE=
# FACEID_3_DEVICENAME=
# FACEID_3_USER=
# FACEID_3_PASS=
# FACEID_3_IP=

# Face ID 4 configuration
# FACEID_4_TYPE=
# FACEID_4_DEVICENAME=
# FACEID_4_USER=
# FACEID_4_PASS=
# FACEID_4_IP=

# End Devices configuration

# Enable (1) Disable (0) the emition of a test event to the clients
TEST_MODE=0

#URL_API
URL_API=https://url_api
API_USERNAME=yourApiUser
API_PASSWORD=yourApiPassword
